{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "endOfLine": "auto",
  "tailwindFunctions": ["clsx"],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
